html {
    height: 100%;
}
body {
    background-image: radial-gradient(rgb(70, 43, 106), rgb(16, 3, 49));
    background-repeat: no-repeat;
}

.maintext {
    text-align: center;
    color: rgb(204, 197, 197);
}

a:link {
    color: rgb(100, 123, 239); 
  }