body {
  background-image: radial-gradient(rgb(70, 43, 106), rgb(16, 3, 49));
  background-repeat: no-repeat;
}


.container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: flex-start; /* Aligns items to the top */
    width: 100%; /* Example: Container takes full width */
    padding: 10px;
    gap: 1px;
    box-sizing: border-box; /* Include padding/border in element's total width/height */
  }
  
  .box {
    width: fit-content; /* Example: Each box takes roughly 30% of the container width */
    padding: 12px;
    height: fit-content;
    background-color: rgba(100, 123, 239, 0.592); ;
    border: 2px solid rgb(204, 197, 197);
    text-align: center;
    line-height: 1.5; /* Vertically center text in this example */
    box-sizing: border-box;
    border-radius: 12px;

  }